@import 'vars';

#sidebar {
  background: #f5f5f5;
  box-shadow: -5px 0 10px rgba(0, 0, 0, .15) inset, -1px 0 1px rgba(0, 0, 0, .2) inset;
  position: fixed;
  width: $sidebarWidth;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;

  .logo {
    background:
      url(../i/core.svg) no-repeat center bottom,
      url(../i/logo.svg) no-repeat center 10px;
    background-size: 120px;
    background-color: transparent!important;
    box-shadow: none!important;
    border-radius: 0;
    height: 170px;
    margin-bottom: 20px;
  }

  h4 {
    font-size: 1.2em;
    margin: 0;
    letter-spacing: -0.025em;

    a {
      color: #060;
    }
  }

  .s {
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  a {
    padding-left: 12px;
    display: block;
    line-height: 30px;
    text-decoration: none;
    border-radius: 15px 0 0 15px;
    position: relative;

    &:hover {
      background-color: rgba(255, 255, 255, .5);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.1);
    }

    &.current {
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 1px rgba(0, 0, 0, 0.3);
      z-index: 1;
    }
  }
}

#share {
  padding: 20px 0 20px 20px;

  #main & {
    width: $sidebarWidth;
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
    background: $highlightBg;

    p {
      display: block;
      font-size: 1.5em;
      font-weight: 100;
      margin-bottom: 20px;
    }
  }

  > div {
    margin-bottom: 20px;
  }

  p {
    display: none;
  }
}