@import
'vars',
'reset',
'sidebar';

body {
  font: 16px Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  font-weight: 100;
  padding: 1em 0 .5em;
}
h1 {
  font-size: 3em;
}
h2, h3 {
  font-size: 2em;
}

a {
  color: $linkColor;
}
b {
  font-weight: bold;
}

$gap: 30px;
.line {
  border-top: 1px solid #ccc;
  margin: $gap -30px 0;
  padding: $gap;
}

#main {
  margin-left: $sidebarWidth;
  padding: $gap $gap 300px $gap;
  position: relative;
  background: #fff;
  line-height: 25px;

  h2 {
    @extend .line
  }

  b {
    background: $highlightColor;
  }

/*
  .nb {
    $size: 30px;

    margin: 5px 10px 0 0;
    color: $linkColor;
    background: $highlightColor;
    border: 1px solid $linkColor;
    border-radius: $size;
    font-size: 1.5em;
    float: left;
    width: $size;
    height: $size;
    line-height: $size;
    text-align: center;
  }*/
}

$size: 330px;
#logoSquare {
  background: url(../i/logo.png) no-repeat;
  width: $size;
  height: $size;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
          transition: all 1s ease;

  &:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#logo {
  background: url(../i/core.png) no-repeat;
  width: $size;
  height: 80px;
  margin: 20px auto 30px;
}

#overview {
  font-size: 1.2em;
  font-weight: 200;
  width: $size;
  margin: 0 auto 200px;

  ul {
    list-style-type: disc;
    margin: 10px 0 0 30px;
  }
}

.code {
  background: $highlightBg;
  font: 12px Menlo, Monaco, Consolas, "Courier New", monospace;
  line-height: 16px;
}

.file {
  @extend .code;
  display: inline-block;
  position: relative;
  top: 5px;
  border-radius: 5px 5px 0 0;
  padding: 5px 10px 10px;
  font-weight: bold;
  color: #060;
}

.pre {
  @extend .code;
  white-space: pre;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: auto;

  i {
    border-bottom: 1px dotted #090;
    margin: -1px 0;
    padding: 1px 0;

    &:hover {
      background: $highlightColor;
      border-bottom-color: #000;
      cursor: pointer;
    }
  }
}

.tooltip {
  box-shadow: 0 5px 10px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .2);
  background: #fff;
  display: inline-block;
  max-width: 300px;
  padding: 5px 10px;
  border-radius: 5px;

  &:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 10px;
    margin-top: 1px;
    border: 10px solid;
    border-color: rgba(0, 0, 0, .2) transparent transparent;
    border-bottom: none;
  }
  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 10px;
    border: 10px solid;
    border-color: #fff transparent transparent;
    border-bottom: none;
  }
}

.action {
  .m {
    display: none;
  }
}

.conclusion {
  @extend .line;
  padding-top: 100px;
  text-align: center;
  color: #666;

  a {
    background: #6c0;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background: #6d0;
    }
  }
}

.gh {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;

  width: 149px;
  height: 149px;
  background: url(https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png);
}

@media only screen and (max-device-width: 480px) {
  #sidebar {
    display: none;
  }

  #main {
    $gap: 10px;

    margin-left: 0;
    padding: $gap;

    h2, .conclusion {
      margin-left: -$gap;
      margin-right: -$gap;
      padding-left: $gap;
      padding-right: $gap;
    }
  }

  #overview {
    width: auto;
  }

  $size: 240px;
  #logoSquare {
    width: $size;
    height: $size;
    background-size: $size;
  }

  #logo {
    width: $size;
    background-size: $size;
  }

  .action {
    .d {
      display: none;
    }
    .m {
      display: inline;
    }
  }

  .conclusion a {
    display: block;
  }
}